<section id="footer">
  <div class="col-12 footer d-flex flex-column gap-2 rounded shadow py-3 justify-content-center align-items-center">
    <h1 class="fs-5">My Comic List</h1>
    <small class="text-capitalize">&copy; <span id="year">2022</span> all right reserved</small>
  </div>
</section>